body,html {margin: 0;padding: 0;}
/*页面*/
#password {position: fixed;left: 0;top: 0;right: 0;bottom: 0;display: flex;background-color: #ecf1f5;}
/*标题*/
.repw {height: 50px;line-height: 50px;font-size: 20px;color: #777;margin: 0;margin-top: -30px;text-align: center;letter-spacing: 2px;}
/*主面板*/
.findpw {position: relative;margin: auto;display: flex;flex-direction: column;padding: 30px;background-color: #fff;border-radius: 5px;width: 320px;min-width: 300px;}
/*输入框*/
.int {margin-bottom: 15px;padding: 15px;font-size: 13px;border-radius: 5px;border: 1px solid #ddd;}
/* 确认按钮 */
.confirm {padding: 15px;font-size: 13px;background-color: #2494f9;color: #fff;letter-spacing: 2px;border: 0;border-radius: 5px;}
button {cursor: pointer;}
/*手机号*/
.telD {display: flex;position: relative;}
.telD .int {flex: 1;padding-right: 90px;}
/*验证码*/
.telD .send {position: absolute;right: 0;top: 0;bottom: 15px;z-index: 9;width: 85px;background-color: #2494f9;color: #fff;border: 0;outline: 0;border-radius: 0 5px 5px 0;}
.telD .send:active {opacity: .8;}
.telD .send.disabled {background-color: #ccc;color: #eee;cursor: not-allowed;}
/*返回*/
.back {width: 40px;height: 40px;position: absolute;left: 0;top: 0;background: url('../../images/back.png') no-repeat;transition: all .3s;cursor: pointer;}
.back:hover {transform: scale(1.1);}
